
body {
    align-content: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin-top: -110px;

    background-color: rgb(211, 187, 151);
}

button {
    display: flex;

    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }

.wrapper {
    display: flex;
    flex-direction: row;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .present {
    display: flex;
padding: 200px;
flex-direction: column;
}

.text {
    flex-direction: column-reverse;
    align-items: stretch;
    justify-content: center;
    flex-wrap: nowrap;
    padding-top: 200px;
}

.text1 {
    display: flex;
    height: 100px;
}